<footer>

	<div id="subscribe">
		<div class="container">
			<div class="join-newsletter">
				<h2>Stay current and updated</h2>
				<p>Sign up for our newsletter, and we'll send you news and tutorials on Linux, Windows and more!</p>
				<div class="join-newsletter-form">

					
				</div>
			</div>
		</div>
	</div>

	<div class="footer-container">

		<p>&copy; 2018 tuxWP</p>

		<ul class="footer-nav">

			<li>
				<a href="{{site.baseurl}}">CodeCarrot</a>
			</li>

			<li class="dot">•</li>

			<li>
				<a href="{{site.baseurl}}/services.html">Services</a>
			</li>

			<li class="dot">•</li>

			<li>
				<a href="{{site.baseurl}}/clients.html">Clients</a>
			</li>

			<li class="dot">•</li>

			<li>
				<a href="{{site.baseurl}}/about.html">About us</a>
			</li>

			<li class="dot">•</li>

			<li>
				<a href="{{site.baseurl}}/">Blog</a>
			</li>

			<li class="dot">•</li>

			<li>
				<a href="{{site.baseurl}}/want-to-write-for-us">Write for Us?</a>
			</li>

			<li class="dot">•</li>

			<li>
				<a href="{{site.baseurl}}/feed.xml">RSS Feed</a>
			</li>
		</ul>

	</div>
</footer>

<!-- Javascript -->
<script type="text/javascript" src="{{site.baseurl}}/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/script.js"></script>
