<header class="nav">
	<div class="nav-container">
		
<div class="logo" itemscope="" itemtype="http://schema.org/Brand">
<span class="helper"></span><a href="https://www.tuxwp.com" itemprop="url" rel="home">
<img itemprop="logo" src="https://www.tuxwp.com/assets/logo.png" alt="TechBrown">
</a>
</div>
		<div class="mobile-nav-toggle"></div>

		<ul class="nav-list is-close">
			<li>
				<a href="https://www.tuxwp.com/">Home</a>
			</li>
			<li>
				<a href="#subscribe">Subscribe</a>
			</li>
			<li>
				<a class="cta" href="https://www.tuxwp.com/page/write-for-us">Write for us</a>
			</li>
		</ul>

	</div>
</header>
